<?xml version="1.0" encoding="UTF-8"?>
<CANDATA>
    <Message canid="18954789" name="发动机" dlc="8">
        <DATA1 name="车速" startByte="0" startBit="0" bitLength="16" factor="0.01" offset="0" unit="%" endianness="Little" />
        <DATA1 name="发动机转速" startByte="1" startBit="2" bitLength="16" factor="0.01" offset="0" unit="%" endianness="Little"/>
        <DATA1 name="左油箱油量信号" startByte="2" startBit="3" bitLength="16" factor="0.01" offset="0" unit="%" endianness="Little"/>
        <DATA1 name="右油箱油量信号" startByte="3" startBit="0" bitLength="16" factor="0.01" offset="0" unit="%" endianness="Little"/>
    </Message>

    <Message canid="18954788" name="变速器" dlc="8">
        <DATA1 name="转速速" startByte="0" startBit="0" bitLength="16" factor="0.01" offset="0" unit="%" endianness="Little"/>
        <DATA1 name="发动机转速" startByte="1" startBit="2" bitLength="16" factor="0.01" offset="0" unit="%" endianness="Little"/>
        <DATA1 name="左油箱转速" startByte="2" startBit="3" bitLength="16" factor="0.01" offset="0" unit="%" endianness="Little"/>
        <DATA1 name="右油箱转速" startByte="3" startBit="0" bitLength="16" factor="0.01" offset="0" unit="%" endianness="Little"/>

        <DATA1 name="变速器" startByte="4" startBit="0" bitLength="8" factor="1" offset="0" unit="" endianness="Little">
            <Status value="0" desc="故障" />
            <Status value="1" desc="无故障" />
        </DATA1>
    </Message>
</CANDATA>
